<nav class="navbar navbar-inverse" style="margin-bottom : 0px ;min-width: 100%">
      <div class="container" style="margin-left : 0px ;padding-left: 0px ;margin-right:0px;padding-right:0px">
     
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
     
          <span style="/*! padding-top:280px; */ margin-left:10px; color :white ; font-family: fantasy;font-size: 30px;margin-top: 5px;display: inline-block;">Sale Space</span><img style="margin-top : -25px ;display : inline-block" width="100" height="50" [src]="logo">
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-3">
          <ul class="nav navbar-nav " style="margin-left : 50px">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    
           
           
          </ul>

          <img width="55" height="35" style="position : absolute ; top:10px;right:85px;color : white" class="pull-right" [src]="panier" />
                <span style="position : absolute ; top:4px;right:65px;" class="badge">{{items_number}}</span>
          <div >
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Product Name Here ..." />
              </div>
              <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" ></span></button>
            </form>
          </div>
        </div><!-- /.navbar-collapse -->