

<nav class="navbar navbar-default sidebar" style="width:230px ; height : 700px;margin-top : 0px ; padding-top : 0px" role="navigation">
   
    <div class="collapse navbar-collapse" style="margin-top : 0px ; padding-top : 0px" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li  ><a href="#" (click)='setinputValue("Computers")'>Computers<span style="font-size:35px;margin-right:10px" class="pull-right hidden-xs showopacity fa fa-mobile "></span></a></li>
        <li ><a href="#" (click)='setinputValue("Tablets")'>Tablets<span style="font-size:35px;margin-right:6px" class="pull-right hidden-xs showopacity fa  fa-tablet"></span></a></li>        
        <li ><a href="#" (click)='setinputValue("Smartphones")'>Smartphones<span style="font-size:35px; margin-right:0px" class="pull-right hidden-xs showopacity fa fa-laptop"></span></a></li>
      
      </ul>
    </div>
</nav>