/* You can add global styles to this file, and also import other style files */



@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';

.ng2 {
position: fixed;
right: 0;

left: 0;
border-radius: 3px;
background-color: white;
z-index: 999;
top: 15% !important;
}

